/*リセット*/
* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    padding: 20px 0;
    
    border-bottom: 6px solid rgb(60, 30, 140);
    background-color: white;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(image/base.png);
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    
    position: relative;
    text-align: center;
}

.enter {
    font-size: 24px;
    color: white;
    padding: 10px 30px;
    background-color:cornflowerblue;
    border-radius: 5px;
    box-shadow: 0 5px black;
}

.enter:hover {
    cursor: pointer;
}

.enter:active {
    box-shadow: none;
    position: absolute;
    top: 5px;
}